.homeChatButton {
    display: flex;
    width: 85%;
    height: 55px;
    background-color: #353535;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.homeChatButton:hover {
    background-color: #000;
}