.master {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.messageContainer {
    position: relative;
    flex: auto;
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
    max-width: 70%;
    border: 1px solid #666;
    border-radius: 15px;
}

.markdownBot h1,
.markdownBot h2,
.markdownBot h3,
.markdownBot h4,
.markdownBot h5,
.markdownBot h6,
.markdownBot a,
.markdownBot p,
.markdownBot strong,
.markdownBot li {
    color: #fff;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 14px;
}

.markdownUser p {
    color: #000;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 14px;
}

.messageContainer {
    position: relative;
    flex: auto;
    display: flex;
    padding: 10px;
    max-width: 70%;
    border: 1px solid #666;
    border-radius: 15px;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.authorText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    padding-bottom: 7px;
    font-weight: 500;
    color: #555;
}