/* ================= RESETAR ESTILOS ================= */
/* ================= RESETAR ESTILOS ================= */
/* ================= RESETAR ESTILOS ================= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* ================= CONFIGURAÇÕES GLOBAIS ================= */
/* ================= CONFIGURAÇÕES GLOBAIS ================= */
/* ================= CONFIGURAÇÕES GLOBAIS ================= */
.master_main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  height: 100svh;
  width: 100vw;
  left: 0px;
  top: 0px;
}

.container {
  flex-direction: column;
  display: flex;
  height: 100svh;
  width: 100vw;
  left: 0px;
  top: 0px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

.master {
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  height: 100svh;
  left: 0px;
  top: 0px;
  max-width: 500px;
}

h1 {
  font-family: 'Calibri';
  font-weight: 100;
  font-size: 30px;
}

h2 {
  font-family: 'Calibri';
  font-weight: 100;
  font-size: 25px;
}

h3 {
  font-family: 'Calibri';
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

p {
  font-family: 'Calibri';
  font-weight: 500;
  font-size: 16px;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  margin: 0;
}



/* ================= ESTILOS HOME_PAGE ================= */
/* ================= ESTILOS HOME_PAGE ================= */
/* ================= ESTILOS HOME_PAGE ================= */
.home-bar {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.home-body {
  display: flex;
  width: 100%;
  flex: auto;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

.home-baseboard {
  display: flex;
  width: 100%;
  height: 125px;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  flex-direction: column;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 350px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.home-subtitle_1 {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.home-subtitle_2 {
  display: flex;
  width: 100%;
  padding-top: 100px;
  flex: auto;
  justify-content: center;
  /* border: 1px solid black; */
}

.home-logo {
  border-radius: 99px;
  width: 150px;
  height: 150px;
}

.home-chat-button {
  display: flex;
  width: 85%;
  height: 55px;
  background-color: #353535;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}



/* ================= ESTILOS CHAT_PAGE ================= */
/* ================= ESTILOS CHAT_PAGE ================= */
/* ================= ESTILOS CHAT_PAGE ================= */
.chat-bar {
  display: flex;
  /* border: 2px solid black; */
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.chat-logo {
  display: flex;
  /* border: 2px solid black; */
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
}

.logo {
  border-radius: 99px;
  width: 70px;
  height: 70px;
}

.chat-title {
  display: flex;
  flex: auto;
  justify-content: center;
  padding-left: 15px;
  flex-direction: column;
}

.chat-window {
  flex: auto;
  display: flex;
  width: 100%;
  border-top: #eee 2px solid;
  flex-direction: column;
  padding: 25px;
  overflow-y: scroll;
}

.input-container {
  display: flex;
  height: auto;
  background-color: #ececec;
  padding: 20px;
}

input[type="text"] {
  flex: 1;
  height: 55px;
  border: 0px black solid;
  background-color: #ececec;
  outline: none;
  font-size: 18px;
}

.chat-send-button {
  height: 55px;
  width: 55px;
  margin-left: 20px;
  border: none;
  border-radius: 99px;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}

.chat-send-button:hover {
  background-color: #464843;
}



/* ================= ESTILOS MESSAGE ================= */
/* ================= ESTILOS MESSAGE ================= */
/* ================= ESTILOS MESSAGE ================= */
.message-container {
  display: flex;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  flex-direction: column;
}

.text-container {
  position: relative;
  flex: auto;
  display: flex;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 70%;
  border: 1px solid black;
  border-radius: 10px;
}